@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <div class="row">
        <div class="col-12">
            <p><strong>All notes are displayed</strong></p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.NotesData)
        {
            <div class="col-12">
                <div class="card" style="width: 18rem; margin: 1rem">
                    <div class="card-body">
                        <p class="card-text">@item.Text</p>
                        <p class="card-text"><small class="text-muted">Added @item.CreatedAt</small></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
